---
layout: default
---
<article>
  <header>
    <h1> {{ page.name }} </h1>
    <time> {{ page.position }} </time>
  </header>

{{ content }}

<h2>Recent work in the lab</h2>

{% assign filtered_posts = site.posts | where: 'author', page.short_name | group_by: 'category' %}


{% for cat in site.categories-order %}
  {% assign currentCat = filtered_posts | where: 'name', cat | first %}
    {% unless currentCat == blank %}
      <h3> {{ currentCat.name }}s </h3>
    
      <ul>
        {% for item in currentCat.items %}
          <li> <a href="{{ item.url }}">{{ item.title }}</a> </li>
        {% endfor %}
      </ul>
    {% endunless %}
{% endfor %}

</article>
