---
layout: default
---
<article>
  <header>
    <h1> {{ page.name }} </h1>
    <time> {{ page.position }} </time>
  </header>

{{ content }}

{% assign filtered_posts = site.posts | where: 'author', page.short_name %}

<!-- {% assign author_categories = filtered_posts.categories.Grant %}
{% assign author_categories = author_categories | concat filtered_posts.categories.paper %}
{% assign author_categories = author_categories | concat filtered_posts.categories.talk %}
{% assign author_categories = author_categories | concat filtered_posts.categories.poster %} -->

{% for category in filtered_posts.categories %}
    <h2> {{ category }} </h2>
    <ul>
      {% for post in filtered_posts | where: 'categories', {{ category }} %}
        <li><a href="{{ post.url | relative_url}}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

</article>
